.hed{
	font-size: 30px;
	font-weight: bold;
	margin-top: 58px;
	margin-bottom: 16px;
	padding-right: 10px;
	padding-left: 82px;
	font-family: Arial;
}
.btn{
	background-color: #6DABE4;
	margin-left: 79px;
	margin-right: 72px;
	margin-top: 26px;
	margin-bottom: 19px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	padding-left:40px ;
	padding-right:40px ;
	border:1px solid #6DABE4;
	border-radius: 5px;
}
.text{
	margin-left: 74px;
}
.box{
	padding-right: 0px;
	margin-right: 1000px;
	margin-left: 491px;
	border-left-width: 32px;
	border-right-width: 32px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-color: #F6F6F6;
	border-style: solid; 
}
.mail{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: -40px;
}
.pass{
		padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: -40px;
}
.name{
	padding-bottom: 0px;
	margin-bottom: -40px;
	padding-right: 20px;
}
.namebox{
	padding-right: 95px;
	border-color: #D2D2D2;
	border-top-width: 0px;
	border-radius: 3px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	background-color: transparent;
	padding-left: 38px;
	margin-left: -33px;
}
.imag{
	margin-bottom: 43px;
	margin-top: 15px;
	margin-left: 6px;
	margin-right: 4px;
	align-items: center;
}
.terms{
	font-size: 15px;
}